node_modules
.next/build-manifest.json
.next/package.json
.next/react-loadable-manifest.json
.next/trace
.next/cache/.rscinfo
.next/cache/webpack/client-development/0.pack.gz
.next/cache/webpack/client-development/1.pack.gz
.next/cache/webpack/client-development/2.pack.gz
.next/cache/webpack/client-development/3.pack.gz
.next/cache/webpack/client-development/4.pack.gz
.next/cache/webpack/client-development/5.pack.gz
.next/cache/webpack/client-development/6.pack.gz
.next/cache/webpack/client-development/7.pack.gz
.next/cache/webpack/client-development/8.pack.gz
.next/cache/webpack/client-development/9.pack.gz
.next/cache/webpack/client-development/10.pack.gz
.next/cache/webpack/client-development/11.pack.gz
.next/cache/webpack/client-development/12.pack.gz
.next/cache/webpack/client-development/index.pack.gz
.next/cache/webpack/client-development/index.pack.gz.old
.next/cache/webpack/client-development-fallback/0.pack.gz
.next/cache/webpack/client-development-fallback/1.pack.gz
.next/cache/webpack/client-development-fallback/index.pack.gz
.next/cache/webpack/client-development-fallback/index.pack.gz.old
.next/cache/webpack/server-development/0.pack.gz
.next/cache/webpack/server-development/1.pack.gz
.next/cache/webpack/server-development/2.pack.gz
.next/cache/webpack/server-development/3.pack.gz
.next/cache/webpack/server-development/4.pack.gz
.next/cache/webpack/server-development/5.pack.gz
.next/cache/webpack/server-development/6.pack.gz
.next/cache/webpack/server-development/7.pack.gz
.next/cache/webpack/server-development/8.pack.gz
.next/cache/webpack/server-development/9.pack.gz
.next/cache/webpack/server-development/10.pack.gz
.next/cache/webpack/server-development/11.pack.gz
.next/cache/webpack/server-development/12.pack.gz
.next/cache/webpack/server-development/13.pack.gz
.next/cache/webpack/server-development/14.pack.gz
.next/cache/webpack/server-development/index.pack.gz
.next/cache/webpack/server-development/index.pack.gz.old
.next/server/_error.js
.next/server/middleware-build-manifest.js
.next/server/middleware-manifest.json
.next/server/middleware-react-loadable-manifest.js
.next/server/next-font-manifest.js
.next/server/next-font-manifest.json
.next/server/pages-manifest.json
.next/server/webpack-api-runtime.js
.next/server/webpack-runtime.js
.next/server/pages/_app.js
.next/server/pages/_document.js
.next/server/pages/_error.js
.next/server/pages/index.js
.next/server/pages/api/ai.js
.next/server/pages/api/parse-argument.js
.next/static/chunks/_error.js
.next/static/chunks/main.js
.next/static/chunks/node_modules_file-saver_dist_FileSaver_min_js.js
.next/static/chunks/polyfills.js
.next/static/chunks/react-refresh.js
.next/static/chunks/webpack.js
.next/static/chunks/pages/_app.js
.next/static/chunks/pages/_error.js
.next/static/chunks/pages/index.js
.next/static/development/_buildManifest.js
.next/static/development/_ssgManifest.js
.next/static/webpack/0baed28e7e7a8de1.webpack.hot-update.json
.next/static/webpack/4f8a237ea3fdf4f8.webpack.hot-update.json
.next/static/webpack/7babefae24f3fe04.webpack.hot-update.json
.next/static/webpack/7c60cba788542c41.webpack.hot-update.json
.next/static/webpack/7ff21046e98a50dc.webpack.hot-update.json
.next/static/webpack/8a84f82ac617fbd7.webpack.hot-update.json
.next/static/webpack/9cd8cdca41535447.webpack.hot-update.json
.next/static/webpack/9f33736449649fe3.webpack.hot-update.json
.next/static/webpack/22bdbf3d4c49fd9f.webpack.hot-update.json
.next/static/webpack/22be9ae249b23309.webpack.hot-update.json
.next/static/webpack/40ef220560dfd1b6.webpack.hot-update.json
.next/static/webpack/67fddb58bce96b45.webpack.hot-update.json
.next/static/webpack/356ccb2a0dc5abd9.webpack.hot-update.json
.next/static/webpack/9064d1b136c4e1f1.webpack.hot-update.json
.next/static/webpack/68917ea6da7a6cfb.webpack.hot-update.json
.next/static/webpack/98315de9dcfc2077.webpack.hot-update.json
.next/static/webpack/52954485f2424549.webpack.hot-update.json
.next/static/webpack/58339924054b90bf.webpack.hot-update.json
.next/static/webpack/463112623649637d.webpack.hot-update.json
.next/static/webpack/bc059ecde1df9cd1.webpack.hot-update.json
.next/static/webpack/be8b5519d89ca9ea.webpack.hot-update.json
.next/static/webpack/c619ddbe560bc5ef.webpack.hot-update.json
.next/static/webpack/d68c3ee8d6458340.webpack.hot-update.json
.next/static/webpack/d8802945736bf106.webpack.hot-update.json
.next/static/webpack/e74240f167167fdf.webpack.hot-update.json
.next/static/webpack/f0458b23b83ee00e.webpack.hot-update.json
.next/static/webpack/fa25e8e8665fc7a3.webpack.hot-update.json
.next/static/webpack/fbe4792c636a73e7.webpack.hot-update.json
.next/static/webpack/webpack.0baed28e7e7a8de1.hot-update.js
.next/static/webpack/webpack.4f8a237ea3fdf4f8.hot-update.js
.next/static/webpack/webpack.7babefae24f3fe04.hot-update.js
.next/static/webpack/webpack.7c60cba788542c41.hot-update.js
.next/static/webpack/webpack.7ff21046e98a50dc.hot-update.js
.next/static/webpack/webpack.8a84f82ac617fbd7.hot-update.js
.next/static/webpack/webpack.9cd8cdca41535447.hot-update.js
.next/static/webpack/webpack.9f33736449649fe3.hot-update.js
.next/static/webpack/webpack.22bdbf3d4c49fd9f.hot-update.js
.next/static/webpack/webpack.22be9ae249b23309.hot-update.js
.next/static/webpack/webpack.40ef220560dfd1b6.hot-update.js
.next/static/webpack/webpack.67fddb58bce96b45.hot-update.js
.next/static/webpack/webpack.356ccb2a0dc5abd9.hot-update.js
.next/static/webpack/webpack.9064d1b136c4e1f1.hot-update.js
.next/static/webpack/webpack.68917ea6da7a6cfb.hot-update.js
.next/static/webpack/webpack.98315de9dcfc2077.hot-update.js
.next/static/webpack/webpack.52954485f2424549.hot-update.js
.next/static/webpack/webpack.58339924054b90bf.hot-update.js
.next/static/webpack/webpack.463112623649637d.hot-update.js
.next/static/webpack/webpack.bc059ecde1df9cd1.hot-update.js
.next/static/webpack/webpack.be8b5519d89ca9ea.hot-update.js
.next/static/webpack/webpack.c619ddbe560bc5ef.hot-update.js
.next/static/webpack/webpack.d68c3ee8d6458340.hot-update.js
.next/static/webpack/webpack.d8802945736bf106.hot-update.js
.next/static/webpack/webpack.e74240f167167fdf.hot-update.js
.next/static/webpack/webpack.f0458b23b83ee00e.hot-update.js
.next/static/webpack/webpack.fa25e8e8665fc7a3.hot-update.js
.next/static/webpack/webpack.fbe4792c636a73e7.hot-update.js
.next/static/webpack/pages/_app.0baed28e7e7a8de1.hot-update.js
.next/static/webpack/pages/_app.7c60cba788542c41.hot-update.js
.next/static/webpack/pages/_app.9f33736449649fe3.hot-update.js
.next/static/webpack/pages/_app.22bdbf3d4c49fd9f.hot-update.js
.next/static/webpack/pages/_app.9064d1b136c4e1f1.hot-update.js
.next/static/webpack/pages/_app.52954485f2424549.hot-update.js
.next/static/webpack/pages/_app.bc059ecde1df9cd1.hot-update.js
.next/static/webpack/pages/_app.d8802945736bf106.hot-update.js
.next/static/webpack/pages/_app.fa25e8e8665fc7a3.hot-update.js
.next/static/webpack/pages/index.7c60cba788542c41.hot-update.js
.next/static/webpack/pages/index.9cd8cdca41535447.hot-update.js
.next/static/webpack/pages/index.22be9ae249b23309.hot-update.js
.next/static/webpack/pages/index.52954485f2424549.hot-update.js
.next/static/webpack/pages/index.bc059ecde1df9cd1.hot-update.js
.next/static/webpack/pages/index.fbe4792c636a73e7.hot-update.js
